
.main-menu ul li a::after {
	background: #005700;
}

.bg{
    background: #005700;
}

#banner .banner-text h1 {
    color: #005700;
}

#banner .banner-text a:hover {
	background: #005700;
	border: 1px solid #005700;
}

#banner .banner-text h2::before {
    background: #005700;
}

#banner .banner-text h2::after {
    background: #005700;
}

#banner .banner-text h1::before {
    background: #005700;
}

#banner .banner-text h1::after {
    background: #005700;
}

#banner .banner-text p::before {
    background: #005700;
}

#banner .banner-text p::after {
    background: #005700;
}

#banner .slick-dots li.slick-active button {
    background: #005700;
    border: 1px solid #005700;
}

#about .about-icon i {
	background: #005700;
}

#gallery .gal-overlay {
	background: rgba(0, 87, 0, 0.5);
}

#team .team-overlay {
	background: rgba(0, 87, 0, 0.5);
}

#testimonial .test-icon i {
	color: #005700;
}

#testimonial .slick-dots li.slick-active button {
	background: #005700;
	border: 1px solid #005700;
}

#membership .member-inner:hover h3 {
	background: #005700;
}

#membership .member-inner:hover a {
	background: #005700;
}

#classes .class-tab .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #005700;
}

.tab-body ul li:hover {
	background: #005700;
}

.social ul li i:hover {
	background: #005700;
	border: 1px solid #005700;
}

.copyright-text h3 span {
	color: #005700;
}

.back-to-top i {
	background: #005700;
}