$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?fd25ffd269a0e34af71438abf4fa1a4c") format("truetype"),
url("./flaticon.woff?fd25ffd269a0e34af71438abf4fa1a4c") format("woff"),
url("./flaticon.woff2?fd25ffd269a0e34af71438abf4fa1a4c") format("woff2"),
url("./flaticon.eot?fd25ffd269a0e34af71438abf4fa1a4c#iefix") format("embedded-opentype"),
url("./flaticon.svg?fd25ffd269a0e34af71438abf4fa1a4c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "buddhist-yoga-pose": "\f101",
    "weightlifter": "\f102",
    "man-lifting-weight": "\f103",
    "treadmill": "\f104",
    "boxing-fighter": "\f105",
);

.flaticon-buddhist-yoga-pose:before {
    content: map-get($flaticon-map, "buddhist-yoga-pose");
}
.flaticon-weightlifter:before {
    content: map-get($flaticon-map, "weightlifter");
}
.flaticon-man-lifting-weight:before {
    content: map-get($flaticon-map, "man-lifting-weight");
}
.flaticon-treadmill:before {
    content: map-get($flaticon-map, "treadmill");
}
.flaticon-boxing-fighter:before {
    content: map-get($flaticon-map, "boxing-fighter");
}
